@media (max-width: 640px) {
    .container {
        width: 85%;
    }

    .title {
        width: 100%;
        text-align: center;
    }

    h4 {
        margin-bottom: 1em;
    }

    .row {
        display: block;
    }

    .form-control {
        width: 80vw;
        margin-bottom: 16px;
    }

    .btn {
        height: 50%;
    }
}